.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 200,
  'opsz' 48
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.notification {
    width: 48px;
    margin: 100px auto;

    animation: ring 4s 0.7s ease-in-out infinite;
}

.notification .count {
    --size: 20px;
    font-size: 10px;
    font-weight: bold;
    background-color: red;
    color: white;
    border: solid 2px white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--size);
    height: var(--size);
    max-width:  var(--size);
    box-sizing: border-box;
    position: relative;
    border-radius: 50%;
    top: 10px;
    left: 10px; 
}

@keyframes ring { 
    0% {
        transform: rotate(0deg);
    }

    1% {
        transform: rotate(30deg);
    }

    3% {
        transform: rotate(-28deg);
    }
    5% {
        transform: rotate(34deg);
    }
    7% {
        transform: rotate(30deg);
    }
    9% {
        transform: rotate(30deg);
    }
    11% {
        transform: rotate(-28deg);
    }
    13% {
        transform: rotate(26deg);
    }
    15% {
        transform: rotate(-24deg);
    }
    17% {
        transform: rotate(30deg);
    }
    19% {
        transform: rotate(20deg);
    }
    21% {
        transform: rotate(18deg);
    }
    23% {
        transform: rotate (-16)
        }

}
